@page {
  size: letter portrait;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 6.7in;
  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --decorator-horizontal-margin: 0.2in;

  --sidebar-horizontal-padding: 0.12in;

  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 12px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 0.001in solid #e8e8e8;

  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.6in;

  --main-blocks-title-icon-offset-left: -19pt;

  /* COLORS */
  --color-blue: #40a3d5;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  font-family: Calibri;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
}

.list-item {
  position: relative;
  margin-left: 0.12in;
}

.list-item:before {
  content: "-";
  color: var(--color-blue);
  display: inline-block;
  font-weight: bold;
  left: -0.12in;
  position: absolute;
}

.list-item--dotted:before {
  content: "\2022";
  font-weight: normal;
  position: absolute;
}

.icon {
  vertical-align: middle;
  margin-right: 0.3rem;
  color: #40a3d5;
}

.icon--place {
  margin-bottom: 0.3rem;
}

h1,
h2,
h3 {
  margin: 0;
  color: #40a3d5;
}

h3 {
  color: #aeaeae;
}

li {
  list-style-type: none;
}

#main {
  float: left;
  width: var(--main-width);
  padding: 0.25in 0.1in 0 0;
  font-size: 8pt;
}

#sidebar {
  height: 22in;
  float: right;
  position: relative; /* for disclaimer */
  width: var(--sidebar-width);
  padding-top: 1rem !important;
  padding: 0.6in var(--sidebar-horizontal-padding);
  background-color: #f2f2f2;
  font-size: 8pt;
}

/* main */

/** big title **/
#title,
h1,
h2 {
  text-transform: uppercase;
}

#title {
  position: relative;
  display: flex;
  align-items: center;
  left: 0.55in;
  line-height: 1.2;
}

#title h1 {
  color: darkgray;
  display: inline-block;
  font-weight: 400;
  font-size: 25pt;
}

#title h1.surname {
  display: inline-block;
  font-weight: 600;
  font-size: 25pt;
  color: #40a3d5;
}

#title h1.senior {
  display: inline-block;
  font-weight: 400;
  font-size: 18pt;
  color: darkgray;
}

#title h1.enginner {
  display: inline-block;
  font-weight: 600;
  font-size: 18pt;
  color: #40a3d5;
}

#title h1 strong {
  margin: auto 2pt auto 4pt;
  font-weight: 600;
}

.title-wrapper {
  margin-left: 0.25in;
}

.title-divider {
  height: 0.001in;
  background-color: #e8e8e8;
  border: none;
}

.subtitle {
  display: block;
  font-size: 12pt;
  width: 90%;
  text-transform: none;
}

/*** categorial blocks ***/

.main-block {
  margin-top: 0.1in;
}

#main h2 {
  position: relative;
  top: 0.8rem;
  /* XXX: 0.5px for aligning fx printing */
  left: 0.53in;
  font-weight: 400;
  font-size: 14pt;
  color: #40a3d5;
  padding-top: 1rem;
  width: 90%;
  border-top: 0.001in solid #e8e8e8;
}

#main h2 > i {
  /* use absolute position to prevent icon's width from misaligning title */
  /* assigning a fixed width here is no better due to needing to align decorator
     line too */
  position: absolute;
  left: var(--main-blocks-title-icon-offset-left);
  z-index: 1; /* over decorator line */
  color: #444;
}

#main h2::after {
  /* extends the decorator line */
  height: calc(var(--row-blocks-padding-top) * 2);
  position: relative;
  top: calc(-1 * var(--row-blocks-padding-top));
  /* XXX: 0.5px for aligning fx printing */
  left: calc(-1 * var(--decorator-horizontal-margin));
  display: block;
  z-index: 0;
  line-height: 0;
  font-size: 0;
  content: " ";
}

/**** minor tweaks on the icon fonts ****/
#main h2 > .fa-graduation-cap {
  left: calc(var(--main-blocks-title-icon-offset-left) - 2pt);
  top: 2pt;
}

#main h2 > .fa-suitcase {
  top: 1pt;
}

#main h2 > .fa-folder-open {
  top: 1.5pt;
}

/**** individual row blocks (date - decorator - details) ****/

.blocks {
  display: flex;
  flex-flow: row nowrap;
}

.blocks > div {
  padding-top: var(--row-blocks-padding-top);
}

.date {
  flex: 0 0 var(--date-block-width);
  padding-top: calc(var(--row-blocks-padding-top) + 2.5pt) !important;
  padding-right: var(--decorator-horizontal-margin);
  font-size: 8.5pt;
  text-align: right;
  line-height: 1;
}

.date span {
  display: block;
}

.date .present {
  position: relative;
  left: 0.05in;
}

.date span:nth-child(1)::after {
  position: relative;
  top: 1pt;
  right: 5.5pt;
  display: block;
  height: 10pt;
  content: "|";
}

.decorator {
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--decorator-border);
}

/*
 * XXX: Use two filled circles to achieve the circle-with-white-border effect.
 * The normal technique of only using one pseudo element and
 * border: 1px solid white; style makes firefox erroneously either:
 * 1) overflows the grayshade background (if no background-clip is set), or
 * 2) shows decorator line which should've been masked by the white border
 *
 */

.decorator::before {
  position: absolute;
  top: var(--decorator-outer-offset-top);
  left: var(--decorator-outer-offset-left);
  content: " ";
  display: block;
  width: var(--decorator-outer-dim);
  height: var(--decorator-outer-dim);
  border-radius: calc(var(--decorator-outer-dim) / 2);
  background-color: #fff;
}

.decorator::after {
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
  left: calc(
    var(--decorator-outer-offset-left) + var(--decorator-border-width)
  );
  content: " ";
  display: block;
  width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  height: calc(
    var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)
  );
  border-radius: calc(
    (var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2
  );
  background-color: #40a3d5;
}

.blocks:last-child .decorator {
  /* slightly shortens it */
  margin-bottom: 0.25in;
}

/***** fine-tunes on the details block where the real juice is *****/

.profile {
  font-size: 12pt;
  word-wrap: normal;
}

.profile-description {
  margin-top: 0.1in;
  margin-left: 0.53in;
}

.profile-icon {
  color: #40a3d5;
  margin-right: 0.05in;
}

.profile-icon-end {
  color: #40a3d5;
  margin-left: 0.05in;
}

.details {
  flex: 1 0 0;
  padding-left: var(--decorator-horizontal-margin);
  padding-top: calc(
    var(--row-blocks-padding-top) - 0.5pt
  ) !important; /* not sure why but this is needed for better alignment */
  font-size: 11pt;
}

.details table {
  margin-top: 0.08in;
}

.details table td {
  vertical-align: top;
}

.details table td:first-child {
  width: 23%;
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 12pt;
  color: #585858;
}

.main-block:not(.concise) .details div {
  /** margin: 0.18in 0 0.1in 0; **/
}

.main-block:not(.concise) .blocks:last-child .details div {
  margin-bottom: 0;
}

.main-block.concise .details div:not(.concise) {
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 0.05in 0 0.07in 0;
}

.details .place {
  float: left;
  font-size: 12pt;
  font-style: italic;
  text-decoration: none;
}

.details .location {
  float: right;
  font-weight: 300;
  font-size: 11pt;
  margin-right: 0.1in;
}

.details div {
  clear: both;
}

/***** fine-tunes on the lists... *****/

#main ul {
  padding-left: 0;
  margin: 0;
}

.details .concise ul {
  margin: 0 !important;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.details .concise li {
  margin: 0 !important;
}

.details .concise li {
  margin-left: 0 !important;
}

/* sidebar */

#sidebar h1 {
  font-weight: 400;
  font-size: 14pt;
}

.side-block {
  margin-top: 0.4in;
  font-size: 11pt;
}

#contact li > i {
  width: 9pt; /* for text alignment */
  text-align: center;
}

#skills {
  line-height: 1.5;
}

#skills ul {
  margin: 0.05in 0 0.15in;
  padding: 0;
}

#contact {
  margin-top: 0;
}

#contact ul {
  margin: 0.05in 0 0.15in;
  padding: 0;
}

#contact li {
  margin: 0.15in 0;
  text-align: center;
}

.profile-photo {
  border-radius: 50%;
  height: 130px;
  /* top: -59px; */
  display: block;
  *border: 2px solid gray;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
}

.skill-section {
  border-bottom: 1px solid #d8d8d8;
  margin: 0.3in 0 0.15in;
}

/**
.skill-rate-item {
  width: 15px;
  height: 7.5px;
  transform: skew(-15deg);
  background: #D8D8D8;
  border-radius: 2px;
  margin: 3px;
}

.skill-rate-item-full {
  width: 15px;
  height: 7.5px;
  transform: skew(-15deg);
  background: #40a3d5;
  border-radius: 2px;
  margin: 3px;
}
**/

.skill-rate {
  height: 6px;
  width: auto;
  background: #d8d8d8;
  border-radius: 3px;
  margin: 3px;
  position: relative;
}

.skill-rate__progress {
  position: absolute;
  height: 100%;
  border-radius: 3px;
  background: #40a3d5;
  left: 0;
}

.skill-rate__progress--80 {
  width: 80%;
}

.skill-rate__progress--70 {
  width: 70%;
}

.skill-rate__progress--65 {
  width: 65%;
}

.skill-rate__progress--60 {
  width: 60%;
}

.skill-rate__progress--55 {
  width: 55%;
}

.skill-rate__progress--50 {
  width: 50%;
}

.skill-rate__progress--40 {
  width: 40%;
}

.skill-rate__progress--30 {
  width: 30%;
}

.skill-rate__progress--20 {
  width: 20%;
}

#disclaimer code {
  color: #666;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
}
